<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dcurreli.spese">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Spese">

        <!-- SPLASH SCREEN -->
        <activity
            android:name="com.dcurreli.spese.main.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Spese.Splashscreen"
            android:launchMode = "singleTop"
            tools:ignore="LockedOrientationActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="spesedc.page.link/join" android:scheme="http"/>
                <data android:host="spesedc.page.link/join" android:scheme="https"/>
            </intent-filter>
        </activity>

        <!-- LOGIN -->
        <activity
            android:name="com.dcurreli.spese.main.login.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.Spese.NoActionBar"
            android:launchMode = "singleTop"/>

        <!-- MAIN APP -->
        <activity
            android:name="com.dcurreli.spese.main.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Spese.NoActionBar"
            android:launchMode = "singleTop">


        </activity>
    </application>

</manifest>